.slider_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}
.slider_wrapper .slide {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 400px;
    padding: 4rem 1rem;
    opacity: .3;
    transition: opacity .4s;
}
.slider_wrapper .slide.js-active {
    opacity: 1;
}
.slider_wrapper .slide .slide_right {
    display: flex;
    flex-direction: column;
}
.slider_wrapper .slide h3 {
    font-size: 1.5rem;
    font-weight: 700;
}
.slider_wrapper .slide .description {
    max-width: 23rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0s ease-in !important;
}
.slider_wrapper .slide.js-active .description {
    max-height: 500px;
    transition: max-height .6s ease-in !important;
}

.slider_wrapper .slide:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.slider_wrapper .slide .slide_center svg {
    width: 10rem;
}
.slider_wrapper .slide .slide_center svg path {
    fill: black;
}

.slider_wrapper .slide .langages {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 0;
    overflow: hidden;
    max-width: 25rem;
    width: fit-content;
    font-size: 0;
}
.slider_wrapper .slide .langages::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(80deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%);
}
.slider_wrapper .slide .langages::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%);
}
.slider_wrapper .slide .langages li {
    margin: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.slider_wrapper .slide .langages img {
    width: 40px;
    height: 40px;
    max-width: none;
    filter: grayscale(1);
    transition: all .4s;
}
.slider_wrapper .slide.js-active .langages img {
    filter: grayscale(0);
}