.slider_wrapper {
    display: flex;
    flex-wrap: nowrap;
    /*
    height: 100vh !important;
    top: 0 !important;
    left: initial !important;
    transform: translateY(0) !important;
    transition: top .6s;
    */
}
/*
.slider_wrapper.js-active {
    top: 5rem !important;
}
*/